<!DOCTYPE html>
<html>
<head>
<title>Система электронного документооборота</title>
</head>
<body>
<form action="/organisation">
    <button>ОРГАНИЗАЦИЯ</button>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>

<form action="/tasks">
    <button>ПОРУЧЕНИЯ</button>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>

<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>

</body>
</html>